{% extends "base.html" %}
{% block content %}
<h2>Conheça o Laboratório de Sistemas Digitais</h2>
<p>União de dois projetos contemplados na 4ª onda (RFB) e EDITAL Nº 050/2024-GR/UEA (PADEX):</p>
<ul>
    <li>Tv-box como ferramenta de integração de comunidade de etnia Baniwa do Rio Içana/AM</li>
    <li>Aquisição, transmissão de dados, localização e identificação de embarcações em ambiente fluvial no Amazonas</li>
</ul>
<p>Utilizamos aparelhos de TV apreendidos pela Receita Federal, dando-lhes uma destinação sustentável e inovadora.</p>
{% endblock %}

